.form {
    width: 800px;

}
.inputDiv {
    width: 750px;
}
.labelTitle {
    display: inline-block;
    width: 250px;
}
.inputField {
    width: 400px;
}
.spaceLeft {
    margin-left: 4px;
}
.button {
    background-color: darkgray;
    border-radius: 5px;
    width: 30px;
    font-size: 0.9em;
}
.large {
    width: 100px;
}
.delete {
    visibility: hidden;
}
.formtable {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 800px;
    padding: 0;
}
.titleCol {
    font-weight: bold;
    width: 250px;
    border: 1px solid black;
}
.dataCol {
    border: 1px solid black;
    width: 540px;
}
.row {
}